@charset "utf-8";

* {outline: 1px solid red;}

body {margin: 0; background-color: #bb6e00;}

#wrapper {
    width: 1300px;
}
.uppermost_menu {
    width: 1300px;
    background-color: #f39c12;
}
.header {
    background-color: #f39c12;
}
.gnb {

}